@use "variables" as *;
@use "mixins" as *;
@use "buttons" as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

body {
    font-family: $font-body;
    background: #1C2230;
    color: #333;
    margin: 0;
}

h1 {
    color: $white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0;
}

p {
    color: $white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0;
}

img {
    width: 100%;
}
