@use "variables" as *;
@use "mixins" as *;
@use "buttons" as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,500;1,600&display=swap');

body {
    font-family: $font-body;
    background: #1C2230;
    color: #333;
    margin: 0;
}

h1 {
    color: $white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 2px;
    margin: 0 0 size(6) 0;

    @include for-phone-up {
        font-size: 48px;
    }
}

h2 {
    color: $white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: 2px;
    margin: 0 0 size(2) 0;
}

p, ul {
    color: $white;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 0;

    @include for-phone-up {
        font-size: 16px;
    }
}

ul {
    list-style-type: disc;
    margin-left: 12px;
    margin-bottom: size(4);
}
img {
    width: 100%;
}

.link-item {
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% .15em;
    background-image: linear-gradient(0deg, $golden, $golden);
    transition: background-size .2s ease-in, color .15s ease-in;

    &:hover {
        background-size: 100% 1.2em;
    }
}
