$primary-color: #5a4f91;
$accent-color: #d6c7a1;
$background: #f7f6f2;
$white: #fff;
$golden: #a67c00;

$font-body: 'Inter', sans-serif;

$sizes: (
    0: 0px,
    1: 4px,
    2: 8px,
    3: 12px,
    4: 16px,
    5: 20px,
    6: 24px,
    7: 28px,
    8: 32px,
    9: 36px,
    10: 40px,
    11: 44px,
    12: 48px,
    13: 52px,
    14: 56px,
);